.idea
.classpath
.project
gen
*.iml
*.eml
target
*.log
*.log.*
**/resources/crrcdt-admin
generatorConfig.xml
.DS_Store
*.cache
*.lock
*/mvnw
*/mvnw.cmd
maven-wrapper.jar
maven-wrapper.properties
~$*.*
